.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px #b9b9b999;
  padding: 0.5rem;
  border-radius: 10px;
  position: relative;
}
.card img {
  width: 100%;
  border-radius: 5px;
  text-transform: capitalize;
}
.foodDetails {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 0.85em;
  margin: 0.5rem 0;
}
.foodDetails h3 {
  color: var(--foreground);
  font-weight: 600;
  font-size: 1rem;
}
.foodPrice {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.card a {
  margin: 1rem 0;
}
.foodDiscount {
  color: var(--danger);
}
.badge {
  background-color: var(--danger);
  color: var(--background);
  padding: 4px;
  border-radius: 5px;
  border: 3px solid var(--background);
  position: absolute;
  top: 15px;
  left: 15px;
}
