.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px #b9b9b957;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 5px;
  text-transform: capitalize;
}

.foodDetails {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: grey;
  font-size: 0.85rem;
  margin: 22px 0;
}

.foodDetails h3 {
  color: var(--foreground);
  font-weight: 600;
  font-size: 1rem;
}

.foodPrice {
  display: flex;
  justify-content: left !important;
  align-items: center;
}

.card a {
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
}

.foodDiscount {
  color: #ed4133;
}

.badge {
  background-color: #ed4133;
  color: white;
  padding: 4px;
  border-radius: 5px;
  border: 3px solid white;
  position: absolute;
  top: 15px;
  left: 15px;
}
