.banner {
  display: flex;
  gap: 30px;
}
.banner img {
  width: 300px;
  border-radius: 10px;
}
.banner h3 {
  font-size: 1.3rem;
  color: var(--primary);
}
.banner div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner span {
  display: flex;
  align-items: center;
}
.foodDiscount {
  background-color: var(--danger);
  color: var(--background);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.list {
  list-style-position: inside;
  font-size: 1.3em;
  line-height: 1.4;
}
.list li::marker {
  color: var(--primary);
}
.list li span {
  font-size: 0.8em;
}
.recipeList {
  margin-bottom: 100px;
  border: var(--light-primary) 1px solid;
}
.recipeList div {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  text-align: justify;
}
.recipeList span {
  font-size: 2rem;
  margin: 0 15px 0 5px;
}
.even {
  background-color: var(--light-primary);
}
