:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #ff00a6;
  --secondary: #ebedf0;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  width: clamp(200px, 80%, 1200px);
  margin: auto;
}
section {
  min-height: 85vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
