.menu {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}
/* responsive */
@media only screen and (max-width: 850px) {
  .menu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5vw;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
}
@media only screen and (max-width: 850px) {
  .menu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
}
@media only screen and (max-width: 550px) {
  .menu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "."
      "."
      ".";
  }
}
